<a href="https://colab.research.google.com/github/fredprada/datasharing/blob/master/phonemes_ENG2PTBR_excel_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
drive.mount("/content/drive")

Mounted at /content/drive

# código separado por linhas

In [1]:
from pandas import read_excel

In [2]:
#importa o drive do google
from google.colab import drive

In [3]:
#abre o txt que preciso como read
dictfile="/content/drive/MyDrive/Pronunciation_program/CMU_Dict_pronunciation.xlsx"

In [6]:
pronun_dict=open(dictfile,'r',encoding='iso8859-1')

In [7]:
# change it to your sheet name, you can find your sheet name at the bottom left of your excel file
my_sheet = 'CMU_Dict_pronunciation'

In [8]:
# change it to the name of your excel file
file_name = 'CMU_Dict_pronunciation.xlsx'

In [9]:
df = read_excel(dictfile, sheet_name = my_sheet)

In [10]:
#seleciono quais colunas quero que mostre no resultado
pronuncias=['word','arpabet','simplified_phonemes']

In [11]:
#indico que o dataframe agora é só com essas colunas
df=df[pronuncias]

In [12]:
# rename a column title
df.rename(columns={'simplified_phonemes':'simplified pronunciation'},inplace=True)

In [24]:
#request an input to search the word on the data base
pronunciation_required=input("Enter the word to search: ").upper()

Enter the word to search: knot

In [25]:
result=df[df['word'].isin([pronunciation_required])].style.hide_index()

In [26]:
result